/* CSS for the entire website */

html {
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/* Style the navigation bar */
.navbar {
    display: flex;
    background-color: black;
    padding: .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0%;
}

/* Style the navigation bar buttons */
.navbar > li > a {
    display: block;
    color: white;
    background-color: black;
    padding: .5rem;
    text-decoration: none;
}

.navbar > li > a > img {
    height: auto;
    max-width: 60%;
    border-radius: 1rem;
}

/* Style the search bar */
.navbar input[type=text] {
    border-radius: 3vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

.similar_products{
    padding-left: 6rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}


/* Style the home page */
.welcome {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 12.5rem;
    background-image: url('../images/hero.png'); /*change image here */
    background-size: cover; /* 'contain' to fit within div */
    background-position: center center;
    background-repeat: no-repeat;
}

.welcome h1{
    font-family: 'Darker Grotesque';
    font-size: 6vw;
    font-weight: 700;
}

.welcome p{
    font-family: 'Darker Grotesque';
    font-size: 1.8vw;
    font-weight: 400;
}

.latest {
    width: 100%;
    height: 100vh;
    height: auto;
    text-align: center;
    background-image: url('../images/main.jpg'); /*change image here */
    background-size: cover; /* 'contain' to fit within div */
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.latest h1 {
    font-family: 'Darker Grotesque';
    font-size: 6vw;
    font-weight: 700;
    color: white;
}

.latest p {
    font-family: 'Darker Grotesque';
    font-size: 1.8vw;
    font-weight: 400;
    color: white;
}

/*.default_button {
    padding: 11px;
    border-radius: 3rem;
    border: none;
    margin-top: 1rem;
    background-color: rgba(217, 217, 217, 1);
}*/

.default_button {
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    font-size: .8rem;
}

/*new*/
.default_button:hover{
    color: rgba(255, 255, 255,1);
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}


#shop_now_button {
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 3rem;
    border: none;
    margin-top: 1rem;
    background-color: rgba(217, 217, 217, 1);
    font-family: 'Darker Grotesque';
    font-size: 2.3vw;
    font-weight: 700;
    cursor: pointer; /* Change cursor to pointer on hover */
}

#shop_now_button:hover {
    background-color: #000000; /* Darker shade on hover */
    color: white;
}

#explore_button {
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 3rem;
    border: none;
    margin-top: 1rem;
    font-family: 'Darker Grotesque';
    color: white;
    font-size: 1.8vw;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #fff; 
    cursor: pointer; /* Change cursor to pointer on hover */
}

#explore_button:hover {
    background-color: #fff; /* Darker shade on hover */
    color: black;

}

.basiclayout {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.basiclayout h1 {
    font-size: 3.5vw;
    font-family: 'Darker Grotesque';
}

.basiclayout h2 {
    font-size: 2vw;
    font-family: 'Darker Grotesque';
    text-decoration: underline;
}

/* Style the categories on the home page */
.categories {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories > div {
    width: calc(32% - 10px); /* Adjust width to leave some gap */
    margin-bottom: 20px;
}

.categories > div > a > img {
    height: auto;
    width: 100%;
    border-radius: 2rem;
    max-width: 100%;
}

/* Media query for smaller screen sizes */
@media screen and (max-width: 768px) {
    .categories > div {
        width: calc(50% - 10px); /* Two columns on smaller screens */
    }
}

@media screen and (max-width: 500px) {
    .categories > div {
        width: calc(50% - 10px); /* Two columns on resolutions below 500px */
    }
}

@media screen and (max-width: 320px) {
    .categories > div {
        width: calc(100% - 10px); /* Single column on even smaller screens */
    }
}




/*-------------------------------------------------------------------------------------------*/

.product_name {
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-style: normal;
    color:black;
}

.price {
    font-family: 'Darker Grotesque';
    font-weight: 700;
    font-style: normal;
    color:black;
}

/*-------------------------------------------------------------------------------------------*/

/* Style the footer */
#desktop_footer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-family: 'Darker Grotesque';
}

#desktop_footer > h5 {
    font-weight: 300;
    
}

#desktop_footer > div {
    flex: 1; /* Each div takes equal space */
    padding: 0 10px; /* Add some padding between divs */
    box-sizing: border-box; /* Include padding in width calculation */
}

#desktop_footer > div:nth-child(4) {
    flex: 1 1 100%; /* Fourth div takes full width */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Align items vertically */
    align-items: flex-start; /* Align items to the left */
}

#desktop_footer > div:nth-child(4) h1 {
    margin: 0; /* Remove default margin */
}

#desktop_footer > div:nth-child(4) h2 {
    margin: 0; /* Remove default margin */
    font-weight: 300;
    font-size: 1vw;
    color: #999;
    align-self: center; /* Vertically center the h2 */
}



#desktop_footer h5{
    font-size: 1.2vw;
}

#desktop_footer h1{
    font-size: 3vw;
}

#desktop_footer p {
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
    text-underline-offset: 2px;
    font-size: 1vw;
}

#desktop_footer input[type="text"] {
    width: 200px; /* Set width */
    padding: 8px; /* Add padding */
    border-bottom: 1px solid #ccc; /* Add border */
    font-size: 16px; /* Set font size */
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#desktop_footer input[type="text"]::placeholder {
    color: #999; /* Set placeholder text color */
    font-weight: 400;
    font-size: 1.2vw;
    font-family: 'Darker Grotesque';
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}


@media (min-width: 601px) {
    .desktop-only {
        display: block; /* Show on desktop */
    }
}

/* Small devices (portrait phones) */
@media only screen and (max-width: 600px) {
    .mobile-only {
        display: block;
    }


    #toggle-menu {
        display: none;
    }

    /* Style the burger menu icon */
    .burger-menu {
        cursor: pointer;
        background-color: #000;
        padding: 10px;
    }

    .burger-menu h3{
        color: #fff;
    }

    .bar {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate bars to form an X shape when menu is active */
    #toggle-menu:checked ~ .burger-menu .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    #toggle-menu:checked ~ .burger-menu .bar:nth-child(2) {
        opacity: 0;
    }

    #toggle-menu:checked ~ .burger-menu .bar:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /* Show the navbar when menu is active */
    #toggle-menu:checked ~ .navbar {
        display: block;
    }

    /* Hide the navbar by default */
    .navbar {
        display: none;
    }







    #mobile_footer {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 200;
        font-family: 'Darker Grotesque';
    }


    #newsletter p{
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    #newsletter input[type="text"] {
        width: 200px; /* Set width */
        padding: 8px; /* Add padding */
        border-bottom: 1px solid #ccc; /* Add border */
        font-size: 16px; /* Set font size */
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    #newsletter input[type="text"]::placeholder {
        color: #999; /* Set placeholder text color */
        font-weight: 400;
        font-size: 3vw;
        font-family: 'Darker Grotesque';
    }
    



} 
/* Style the product page*/
.product_page {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 6rem;
    padding-top: 4rem;
}

.product_page > img {
    width: 22rem;
    height: 15rem;
    border-radius: .5rem;
    max-width: 100%;
}

.product_page > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*new*/
.product_page > div >  div > ul {
    font-size: .8em;
    padding-left: 1rem;
    font-weight: 300;
}

.button_container {
    display: flex;
    align-self: flex-start; 
    margin-top: auto; 
}


/* Style the shopping cart page */
/*new*/

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px ;
}

/*new*/
.checkout_processes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(116, 116, 116);
    margin: 20px; /* Adjust the horizontal spacing */
}

/*new*/
.checkout_process {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1rem;
    color: rgba(193, 193, 193, 1);
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(193, 193, 193, 1);
    margin-bottom: 10px; 
    position: relative; 
}

.checkout_process_done{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1rem;
    color: rgba(193, 193, 193, 1);
    text-align: center;
    /*-- code taken from https://www.geeksforgeeks.org/how-to-draw-a-checkmark-tick-using-css/ --*/
    background: rgb(138, 212, 58);
    border: 2px solid rgb(138, 212, 58);
    margin-bottom: 10px; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    height: 18px; 
    width: 15px; 
    border-bottom: 3px solid  rgb(52, 100, 0); 
    border-right: 3px solid  rgb(52, 100, 0); 
    transform: rotate(45deg); 
    margin: 20px; 
}

/*new*/
.checkout::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: rgba(193, 193, 193, 1);
    width: calc((50px + 50px) * 5 - 40px); /* Adjust the width to span only behind the circles */
}


/* Style the shopping cart items */
/*new*/
.page_content{
    padding-left: 6rem;
    padding-bottom: 4rem;
}

/*new*/
.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1)
}

/*new*/
.header_item{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}


/*new*/
.cart_items{
    background-color: rgba(230, 232, 230,1);
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 2rem;
    flex-direction: column;
}

/*new*/
.cart_item{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

/*new*/
.cart_item > img {
    width: 20rem;
    height: 15rem;
    border-radius: .5rem;
}

/*new*/
.prod_details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

/*new*/
.details_name{
    flex: 1;
    font-weight: 300;
}

/*new*/
.details_price{
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.cart_details_price{
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}

/*new*/
.details_quantity{
    flex: 1;
    font-weight: 300;
    text-align: center;
}

/*new*/
#total_subtotal {
    /* Adjust alignment and margin as needed */
    align-self: flex-start;
}

/*new*/
.subtotal{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1);
    padding-top: 1rem;
    font-weight: 600;
}

/*new*/
.quantity_controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}

.quantity_button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.checkout_buttons{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(254, 222, 204, 1);
    border: none;
    font-size: .9rem;
    margin-top: 1rem;
}

.checkout_buttons_reverse{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    font-size: .9rem;
    margin-top: 1rem;
}

.checkout_button_container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: flex-end;
}

.final_checkout_button{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: .9rem;
    margin-top: 1rem;
}

/* Style the information page */
.information_page{
    display: flex;
    flex-direction: column;
}

#shipping_address{
    display: flex;
    flex-direction: column;
}

.info{
    margin-top: .5rem;
    border: 1px solid;
    border-color:rgba(193, 193, 193, 1);
    padding: .7rem;
    border-radius: .5rem;
}

input[type=text]{
    padding: .7rem;
    border-radius: .5rem;
    border: 1px solid;
    border-color: rgba(193, 193, 193, 1);
}


/* Style the shipping page */
.check_previous_info{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid;
    border-color: rgba(193, 193, 193, 1);
    border-radius: .5rem;
}

.first, .second{
    padding-left: 1rem;
    font-size: small;
}

.second{
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1);
}

.previous_info_header{
    color: rgb(161, 161, 161, 1);
}

.previous_info{
    color: rgba(65, 65, 65, 1);
}

.shipping_method{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.shipping_options{
    width: 100%;
    margin-top: .5rem;
}


.column{
    display: flex;
    flex-direction: column;
}


/* Style the payment page */
.discounts > .default_button{
    font-size: .8rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.payment_details{
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    padding-right: 20rem;
}

.payment_details > p{
    justify-self: space-around;
}

.card_details_one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_details_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

fieldset{
    border: none;
}

.catalogue{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.catalogue > div > a{   
    text-decoration: none;
    color: black;
}

.catalogue > div > a > img{
    width: 15rem;
    height: 12.5rem;
    border-radius: .3rem;
    max-width: 100%;
}

.product_name{
    font-weight: 300;
    font-size: .9rem;
}

.price{
    font-weight: 600;
    font-size: .9rem;
}

/*-------------------------------------------------------------------------------------------*/

/*style the footer*/
footer{
    display: flex;
    padding: 4rem;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-weight: 200;
}

footer > h5{
    font-weight: 300;
}

footer > div{
    padding-right: 10rem;
}



